/* General body styles */
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

#container {
  display: flex;
  height: 100%;
}

/* Sidebar styles */
#sidebar {
  background-color: #003366; /* Darker shade of blue for better contrast */
  color: white;
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: flex-start;
}

.sidebar-item {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  width: 100%;
  padding: 0 10px;
  margin-bottom: 15px;
  color: inherit;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar-item:hover {
  background-color: #0055cc; /* Lighter blue for hover effect */
}

.sidebar-icon {
  width: 24px;
  margin-right: 10px;
}

.logo-icon {
  width: 93px;
  margin-bottom: 20px;
}

.sidebar-label {
  font-weight: 700;
  white-space: nowrap;
}

/* Main content styles */
#main-content {
  flex-grow: 1;
  padding: 20px;
}

header {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

#products-list {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: left;
  padding: 8px;
}

th {
  background-color: #003366; /* Consistent with sidebar */
  color: white;
}

.update-btn, #addcat {
  background-color: #0077cc; /* A medium shade of blue */
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.update-btn:hover, #addcat:hover {
  background-color: #0055cc; /* Consistent hover effect */
}

.main-search-input-wrap {
  max-width: 500px;
  margin: 20px;
  position: relative;
  right: -100px;
}

.main-search-input {
  background: #fff;
  padding: 0 120px 0 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.main-search-input-item {
  float: left;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.main-search-input-item input {
  float: left;
  border: 1px solid #ccc;
  width: 100%;
  height: 40px;
  padding-left: 20px;
}

.main-search-button {
  background: #0077cc;
  color: #fff;
  position: absolute;
  right: 0px;
  height: 40px;
  width: 120px;
  top: 0;
  border: none;
  cursor: pointer;
}
#products{
  background-color: #0055cc;
}
